{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@ui": "./imports/ui",
          "@base": "./imports/ui/components/base",
          "@hook": "./imports/ui/hooks",
          "@api": "./imports/api",
          "@/": "./"
        }
      }
    ]
  ]
}